
.mainContainer {
  text-align: center;
  color: white;
}

.section {
  min-height: 100vh;
}

.blackBackground {
  background-color: black;
}

.grayBackground {
  background-color: gray;
}

.welcomeContainer {

}
